.container {
    margin-top: 15%;
}

.nav-tabs {
    font-size: 125%;
    color: black;
}

h2 {
    text-align: center;
    font-size: 200%;
}

h3 {
    margin-bottom: 10%;
    text-align: center;
    font-size: 300%;
}

h2#tituloFavoritos {
    font-size: 150%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: #333;
    color: #fff;
}

#codigo {
    /* display: none; */
    margin-top: 5%;
    text-align: center;

}

#codigoqr {
    margin-left: 2.5%;
    border-top: 7px dashed #000000;
    border-right: 7px dashed #000000;
    border-bottom: 7px dashed #000000;
    border-left: 7px dashed #000000;
}

.optmenu {
    /* display: none; */
    margin-top: 5%;
    border-radius: 12px;
    color: white;
  }

.imgMenu {
    margin-left: 20%;
    width: 75px;
    height: 75px;
}

.menuComida {
    /* display: none; */
    margin-top: 5%;
}

.optComida {
    /* background-color: #ACA3A8; */
    /* background-color: #333; */
    /* color: #fff; */
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 5px solid white;
}

#entrantes,
#hamburguesa,
#bocadillo,
#sandwich {
    text-align: center;
}

.imgMenuComida {
    margin-left: 15%;
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
}

#botonesReservas {
    text-align: center;
}

td {
    text-align: center;
}

#cerrarFavIncorrecto {
    float: right;
}

#cerrarFavCorrecto {
    float: right;
}
#cerrarCompraCorrecto {
    float: right;
}

.confirmacionesAlerts {
    margin-left: 0.5%;
    width: 90%;
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 35%;
    position: fixed;
    z-index: 2;
}

.alert{
  margin-top: 2%;
}

#anyadirFavButton:hover{
  color: white;
}

.menuEntrantes,
.menuBocadillos,
.seleccion{
    display: none;
}


/*Estilo para la pagina de errores*/

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

.sliders{
  /* background-color: blue;
  color: white; */
  height: 150px;
}

.carousel-inner{
  background-color: #08f;
  color: white;
}

.letraTab{
  font-size: 75%;
}

/*********************************/


#fotoSeleccion,
#descripcion{
    /* margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px solid #000000; */
margin-top: 2.5%;
}

#imagen {
  margin-top: 2.5%;
    height: 125px;
    width: 255px;
    border-radius: 12px;
}

/* Estilo página iniciar */
